.pageone{
    font-family: sans-serif;
}
.img4{
    width: 560px;
    height: 400px;
}
.img5{
    width: 680px;
    height: 400px;
}
.img6{
    width: 680px;
    height: 400px;
}
.img1{
    width: 560px;
    height: 300px;
}
.img3{
    width: 580px;
    height: 360px;
}
.img2{
    width: 580px;
    height: 360px;
}
.img8{
    width: 640px;
    height: 360px;
}
.img7{
    width: 520px;
    height: 360px;
}